---
layout: default
title: Cairns Lab Members
---
<link rel="stylesheet" type="text/css" href="/css/member.css">
<script>
  var x = document.getElementById("pageMembers");
  x.className = "active";
</script>
<div class="memberList">
  <h2>Lab Members</h2>
  {% for member in site.data.labmemberprofiles %}
    <div class="member">
      {% if forloop.first != true %}
        <div class="memberSep"></div>
      {% endif %}
        <h3>{{ member.name }}</h3>
        <div class="memberProfile">
            <img src={{ member.image }} class="profilePic">
          <div class="profileDescription">
            {{ member.description }}
          </div>
        </div>
      </div>
  {% endfor %}
  <div class="member"></div><!-- clear float -->
</div>
