.memberList {
}
.member {
}
.memberSep {
  border-top: 1px solid #d5d5d5;
}
.memberProfile {
  display: flex;
}
.profilePic {
	width: 150px;
  flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 150px;
  align-self: flex-start;
}
.profileDescription {
  margin-left: 10px;
  flex-grow: 1;
  text-align: justify;
  font-size: 0.8em;
  line-height: 1.2em;
  color: #ddd;
  margin-bottom: 10px;
}
@media screen and (max-width: 600px) {
  .memberProfile {
    display: block;
  }
  .profileDescription {
    flex-grow: 0;
    display: block;
    width: 100%;
    text-align: justify;

  }
  .profilePic {
    width: 150px;
    align-self: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}
