---
layout: default
title: Cairns Lab News
---
<link rel="stylesheet" type="text/css" href="/css/post.css">
<script>
  var x = document.getElementById("pageNews");
  x.className = "active";
</script>
<div>
  <h2>News</h2>
  {% for post in site.posts %}
    {% if forloop.first != true %}
      <div class="postSep"></div>
    {% endif %}
    <div class="postTitle"><h3><span>{{ post.date | date_to_string }}</span>: <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h3></div>
    <div class="postContent">{{ post.content }}</div>
  {% endfor %}
</div>
